@font-face{
	font-family: Local_OpenSans;
	src: url('../fonts/OpenSans Regular.ttf');
}

html, body{
	font-family: "Local_OpenSans";
	color: #58616A;
    text-shadow: 0 .05em rgba(255,255,255,0.7);
	cursor: default;
	margin:1%;
	background-image: url('../images/Fondo_01.png');
}

div{
	color: #FFFFFF;
	text-shadow: 0px -1px 1px rgba(19, 28, 0, 0.35);
	background: #4D90FE;
	border: 1px solid #3079ED;
	text-align: center;
	margin-bottom: 10px;
	padding: 10px 0 10px 0;
}

hr{
	border:#B8B3B1 1px dashed;
	border-style: none none dashed;
	color:#FFFFFF;
}

.x2-fluid{
	background: none;
	border: none;
}